@import "../../pages/homepage.styles";

.galleryContainer {
  display: flex;
  flex-direction: column; // To get the dots on the bottom of the gallery view
}

.galleryImagesContainer {
  display: flex;
}

.galleryView {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.galleryChild {
  opacity: 0;
  transition: opacity 0.25s, transform 0.5s;

  &#visible {
    width: 100%;
    margin-left: 0;
    opacity: 1;
    transform: scale(1);
  }

  &#hidden {
    width: 0; // Fixes some flickering
    position: fixed; // To take it out of document flow
    opacity: 0;
    transform: scale(1.05);
  }
}

.dotsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.activityDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-neu-shadow-dark);
  margin: 1em;

  &#active {
    background-color: var(--color-neu-shadow-light);
    width: 12px;
    height: 12px;

    box-shadow: 3px 3px 5px var(--color-bg-dark), -3px -3px 5px var(--color-neu-shadow-light);
  }
}
