@import "../../pages/homepage.styles";
$neu-radius: 32px;
$neu-shadow: 12px;
$neu-shadow-blur: 20px;
$neu-highlight: -12px;

.screenshotImageContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $responsive-width) {
    justify-content: center;
    margin-top: 2em;
  }
}

.screenshotContentImage {
  border-radius: $neu-radius;
  box-shadow: $neu-shadow $neu-shadow $neu-shadow-blur var(--color-neu-shadow-dark),
    $neu-highlight $neu-highlight $neu-shadow-blur var(--color-neu-shadow-light);

  margin-left: 2em;

  @media screen and (max-width: $responsive-width) {
    max-width: 80%;
    margin-left: 2em;
    margin-right: 2em;
  }
}

.vimeoVideo {
  flex: 0;

  max-height: 750px;
  min-height: 450px;
  max-width: 450px;
  min-width: 350px;

  width: 100%;
  height: auto;

  border-radius: $neu-radius;
  box-shadow: $neu-shadow $neu-shadow $neu-shadow-blur var(--color-neu-shadow-dark),
    $neu-highlight $neu-highlight $neu-shadow-blur var(--color-neu-shadow-light);

  overflow: hidden;
  z-index: 1; // To make sure the rounded corners hide the video once it starts playing

  background-color: darkseagreen;

  margin-top: 2em;
  margin-bottom: 2em;

  @media screen and (max-width: $responsive-width) {
    flex: 1;

    height: auto;
    width: 348px;
  }
}
