#nextButton {
  right: 0em;
  margin-left: 2em;
}

#previousButton {
  left: 0em;
}

.nextPrevButton {
  border-style: hidden;
  color: var(--color-text);

  height: 3em;
  width: 3em;

  // Neumorphic
  border-radius: 50%;
  background: linear-gradient(145deg, #fbfdff, #d4d4d8);
  box-shadow: 5px 5px 10px #c8c9cc, -5px -5px 10px #ffffff;
}
