@import "../../pages/homepage.styles";

#nextButton {
  margin-right: 4em;
  margin-left: 2em;

  @media screen and (max-width: $responsive-width) {
    margin-left: 0.5em;
    margin-right: 0;
  }
}

#previousButton {
  margin-left: 4em;
  margin-right: 2em;

  @media screen and (max-width: $responsive-width) {
    margin-left: 0;
    margin-right: 0.5em;
  }
}

.nextPrevButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: hidden;
  color: var(--color-text);
  z-index: 100; // Ensures buttons are clickable if hidden content is large and otherwise covers them

  height: 5em;
  width: 5em;
  min-width: 5em;

  // Neumorphic
  border-radius: 50%;
  background: linear-gradient(145deg, var(--color-bg-light), var(--color-bg-dark));
  box-shadow: 5px 5px 10px var(--color-neu-shadow-dark),
    -5px -5px 10px var(--color-neu-shadow-light);

  @media screen and (max-width: 1700px) {
    height: 3em;
    width: 3em;
    min-width: 3em;
  }

  @media screen and (max-width: $responsive-width) {
    border-radius: 20%;
    min-width: 0;
    height: 5em;
    width: 3em;
  }
}
