@import "../../pages/homepage.styles";

.portfolioItemContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  @media screen and (max-width: $responsive-width) {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 0;
  padding-left: 4.5rem;
  margin-bottom: 2rem;
  width: 400px;
  min-width: 400px;
  line-height: 1.6;
  @media screen and (max-width: $responsive-width) {
    flex: 1;
    min-width: auto;
    width: auto;
    padding: 0.5rem 1rem;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 1rem 0;

  @media screen and (max-width: $responsive-width) {
    height: auto;
    width: 100%;
    max-width: 400px;
    align-self: center;
  }
}

.iconsContainer {
  display: flex;
  align-items: row;

  img {
    height: 4rem;
    margin-right: 1rem;
  }
}

.portfolioChildrenContainer {
  display: flex;
  flex: 1;

  @media screen and (max-width: $responsive-width) {
    // height: 750px;
    height: auto;
  }
}
