.portfolioItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.portfolioSpacer {
  flex: 2;
  height: 100px;
  //background-color: green;

  @media screen and (max-width: 700px) {
    height: 0px;
    flex: 0;
  }
}

.descriptionContainer {
  display: flex;
  flex: 1;
  //background-color: blue;
}

.imageContainer {
  display: flex;
  align-items: center;
  background-color: red;
  min-width: 200px;
  padding: 1rem;
  @media screen and (max-width: 700px) {
    height: auto;
    width: 100%;
    flex: 0;
  }
}

.contentImage {
  height: auto;
  width: 100%;
  z-index: 2;
}
