@import "../../pages/homepage.styles";

.portfolioItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 40em;
  margin-top: 1em;
  width: 90%;

  @media screen and (max-width: $responsive-width) {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  border-radius: 30px;
  background: linear-gradient(145deg, var(--color-bg-dark), var(--color-bg-light));
  box-shadow: inset 2px 2px 4px var(--color-neu-shadow-dark),
    inset -2px -2px 4px var(--color-neu-shadow-light);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 0;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 2em;
  max-width: 400px;
  min-width: 400px;
  line-height: 1.6;
  color: var(--color-txt);

  h1,
  h2 {
    color: var(--color-txt-heading);
  }

  // Outline
  // border-style: solid;
  // border-color: var(--color-neu-shadow-dark);
  // border-top-color: var(--color-neu-shadow-dark);
  // border-left-color: var(--color-neu-shadow-dark);
  // border-bottom-color: var(--color-bg-light);
  // border-right-color: var(--color-bg-light);
  // border-width: 1px;

  border-radius: 30px;
  background: linear-gradient(145deg, var(--color-bg-dark), var(--color-bg-light));
  box-shadow: 12px 12px 20px var(--color-bg-dark), -12px -12px 20px var(--color-neu-shadow-light);

  @media screen and (max-width: $responsive-width) {
    flex: 1;
    min-width: auto;
    width: auto;
    max-width: 600px;
    padding: 0.5rem 2rem;
    margin-right: 2em;
  }

  a {
    color: var(--color-link);
    &:visited {
      color: var(--color-link-visited);
    }
    &:hover {
      color: var(--color-txt);
    }
    transition: color 0.25s;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 1rem 0;

  @media screen and (max-width: $responsive-width) {
    height: auto;
    width: 100%;
    max-width: 400px;
    align-self: center;
  }
}

.portfolioChildrenContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  @media screen and (max-width: $responsive-width) {
    height: auto;
    width: 80%;
  }
}

.iconsContainer {
  display: flex;
  align-items: row;
  align-items: center;

  svg {
    width: 75 px;
    height: 75 px;
    transition: all 0.2s ease-out;
    fill: var(--color-txt);

    &:hover,
    &:active {
      transition: all 0.1s ease-out;
      transform: scale(1.2, 1.2);

      .react_path {
        fill: #28a9f3;
      }
      .react_circle {
        fill: #ffffff;
      }
      .sass_path {
        fill: #ef72f3;
      }
      .typescript_path {
        margin-top: 5px;
        fill: #2f44bf;
      }
      .dotNet-1 {
        fill: #5c2d91;
      }
      .dotNet-3 {
        fill: #fff;
      }
      .dotNet-4 {
        fill: #f2f2f2;
      }
      .bootStrap_circle {
        fill: #673ab7;
      }
      .bootStrap_B {
        fill: #ffffff;
      }
      .postgresFill {
        fill: #0277bd;
      }
      .postgresOutline {
        fill: #ffffff;
      }
      .reduxShape {
        fill: #905ae7;
      }
      .threejsFill {
        fill: #28a9f3;
      }
    }

    // Style for the Redux icon when it's idle
    .reduxShape {
      fill: var(--color-txt);
    }
    .reduxText {
      fill: var(--color-txt);
    }

    // Style for the Dotnet icon when it's idle
    .dotNet-1 {
      fill: var(--color-txt);
    }
    .dotNet-2 {
      opacity: 0.5;
    }
    .dotNet-3 {
      fill: var(--color-bg-light);
    }
    .dotNet-4 {
      fill: var(--color-bg-light);
    }

    // Style for Bootstrap icon when it's idle
    .bootStrap_B {
      fill: var(--color-bg-light);
    }

    // Style for Postgres when it's idle
    .postgresOutline {
      fill: var(--color-bg-dark);
    }
    &.postgresContainer {
      padding: 0 5px;
    }
  }
}
