$responsive-width: 1515px; // This gets imported from the item-specific scss files

.homepageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.darkModeText {
  color: white;
}

.backgroundGradientContainer {
  min-height: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    background: linear-gradient(145deg, var(--color-bg-light), var(--color-bg-dark));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}
