$responsive-width: 1515px; // This gets imported from the item-specific scss files

.homepageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.darkModeText {
  color: white;
}

.backgroundGradientContainer {
  background: linear-gradient(145deg, var(--color-bg-light), var(--color-bg-dark));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  will-change: transform;
  z-index: -1;
}
