$responsive-width: 1340px; // This gets imported from the item-specific scss files

.homepageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.darkModeText {
  color: white;
}
