@import "../../../pages/homepage.styles";

.portfolioSiteContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: auto;
  padding-top: 1.5rem;

  @media screen and (max-width: $responsive-width) {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.portfolioVideo {
  flex: 0;

  max-height: 750px;
  max-width: 450px;
  min-width: 250px;

  width: 100%;
  height: auto;

  border-radius: 15px;
  overflow: hidden;
  z-index: 1; // To make sure the rounded corners hide the video once it starts playing

  @media screen and (max-width: $responsive-width) {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.portfolioImage {
  flex: 0;
}
