:root {
  --color-bg-dark: #e9eaef;
  --color-bg-light: #fbfcff;
  --color-txt-heading: #3f4253;
  --color-txt: #595d72;
  --color-topbar: #ffffff;
  --color-link: #0d66be;
  --color-link-visited: #b613ae;
  --color-neu-shadow-dark: #d7d7df;
  --color-neu-shadow-light: #ffffff;
}
